html{
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 15px;
  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
  font-family: "Gruppo", cursive;
  color: #f70000;
  background-color: #85953d;

}
h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;
    text-align: center;
}
p,
li {
  text-align: center;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
    color: #4000ef;
}

img {
  display: block;
  margin: auto;
  width: 20%;
}

body {
  width: 700px;
  margin: 0 auto;
  background-color: #00ff84;
  padding: 0 20px 20px 10px;
  border: 3px solid black;
}

.done {
  color: darkseagreen;
  text-decoration: line-through solid black 2px;
}